body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

#start-screen, #game-screen, #results {
    text-align: center;
}

#cards-container, #player-board, #dealer-board {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.column-buttons {
    display: flex;
    justify-content: space-between;
    width: calc(13 * 73px);
    margin-bottom: 10px;
}

.row-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(4 * 10px);
    margin-left: 10px;
    margin-bottom: 40px;
}

.suit-row {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 10px;
}

.card {
    width: 60px;
    height: 90px;
    margin: 5px;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    background-color: white;
    border-radius: 5px;
    position: relative;
}

.card.h, .card.d {
    color: red;
}

.card .card-value {
    position: absolute;
    top: 5px;
    left: 5px;
}

.card.selected {
    background-color: #ffeb3b;
}

.card.invalid {
    background-color: #3b3b3b;
}

#results {
    margin-top: 20px;
}

.card::after {
    content: attr(data-suit);
    font-size: 18px;
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.card.h::after {
    content: '♥';
    color: red;
}

.card.d::after {
    content: '♦';
    color: red;
}

.card.c::after {
    content: '♣';
    color: black;
}

.card.s::after {
    content: '♠';
    color: black;
}

.button {
    background-color: #000000;
    color: #FFFFFF;
    padding: 10px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    margin:10px
}

.small-btn {
    width: 50px;
    height: 25px;
}

.medium-btn {
    width: 70px;
    height: 30px;
}

.big-btn {
    width: 90px;
    height: 40px;
}